html
  head
    link(rel='stylesheet', href='/css/styles.css')
    title!= title
  body
    #header
      img(src='images//helpie_logo.svg')
    #sub
      h2 Seattle Earthquake,
        span Evacuation Camp A
      p Century Link Field  |  800 Occidental Ave S, Seattle, WA 98134
    #lower
