html
  head
    link(rel='stylesheet', href='/css/styles.css')
    title!= title
  body
    #splash
      img(src='images//helpie_logo.svg')
      h2 Find your loved ones
    #lower
      a.start(href='/start') start 
