html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body { 
  font-family: helvetica;
}

p {
  font-size: 14px;
  font-weight: 100;
  padding-top: 15px;
  color: #3fa9f5;
}

#splash {
  background: #3fa9f5;
  height: 440px;
}

#splash img {
  display: block;
  width: 450px;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

#splash h2 {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 100; 
}


.circle {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 20px;
  color: #3fa9f5;
  background: #fff;
  border-width: 10px;
  border-color: #3fa9f5;
  border-style: solid;
  line-height:150px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}


#header {
  background: #3fa9f5;
  padding: 0 0 0 0;
  margin 0 0 0 0;
}

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 75px;
}

#sub {
  height: 130px;
  background: rgba(63, 169, 245, 0.1);
  text-align: center;
}

#sub h2 {
  color: #3fa9f5;
  font-weight: 400;
  font-size: 24px;
  padding-top: 40px;
}

#sub h2 span {
  font-weight: 100;
   margin-left: 5px;
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40;
  width: 160px;
  line-height: 18px;
  text-align: center;
}

#find {
  margin-top: 60px;
}
